.Everything {
    background-color: #af9ff4;
    padding: 15px;
    min-height: 100vh;
}
.InputBlock {
    display: block;
    background-color: blueviolet;
    padding-bottom: 4px;
}
.Inputs {
    display: flex;
    padding: 10px;
    align-items: center;
}
.Textbox {
    width: 65%;
    display: block;
    margin: auto;
    margin-top: 0px;
    padding: 10px;
    border-radius: 5px;
}
.File {
    margin: auto;
}
.Send {
    margin: auto;
    display: block;
    margin-bottom: 8px;
    background-color: #af9ff4;
    border: black;
    border-radius: 4px;
}